@{
    ViewBag.Title = "DFT Information";
}
<section class="jumbotron">
    <div class="container">
        <h1>
            <span>@ViewBag.Title</span>
        </h1>
        <div class="row ">
            <div class="col-md-12">
                blah blah blah
            </div>
        </div>
    </div>
</section>

